.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  .top-action {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    .action-title {
      font-size: 18px;
      font-weight: bold;
    }

    .button-add {
      border-radius: 10px;
      max-width: 100px;
      background-color: #4caf50;
      border: none;
      color: white;
      padding: 10px 20px;
      cursor: pointer;
    }

    .button-update {
      margin: 0 10px;
      border-radius: 10px;
      background-color: #2196f3;
      border: none;
      color: white;
      padding: 10px 20px;
      cursor: pointer;
    }
  }

  .form-inputs {
    width: 100%;
  }
}
